.navColor{
    background: #34c9eb;
}

.nav-item{
    font-size: 24px;
    font-family: "Agency FB";
    font-weight: bold;
    padding-right: 8px;
}

.homeSlide{
    width: 100%;
    height: 100px;
}

.intro{
    color: #1c1f23;
}

.intro > h5{
    font-size: 32px;
}

.intro > p{
    font-size: 20px;
}

.form{
    align-items: center;
}